.user-list {
	@extend %listreset;
	// margin: 0 -9px;
	// padding: 20px 25px;
	padding: 10px 5px;
	display: flex;
	flex-wrap: wrap;
	@include media ('>=phone') {
		padding-left: 15px;
		padding-right: 15px;
	}
	@include media ('>=tablet') {
		padding-left: 25px;
		padding-right: 25px;
	}
	.v2 & {
		padding: 10px 8px;
		background: $white;
		border-radius: 6px;
		box-shadow: 0 0 2px 0 rgba($black, 0.2);
	}
	.v5 & {
		padding: 10px 25px;
		box-shadow: none;
		background: none;
		border-radius: 0;
	}
	.v7 & {
		padding: 0;
	}
	>li {
		// width: 16.6667%;
		width: 100%;
		padding: 9px;
		@include media ('>=phone') {
			width: 50%;
		}
		@include media ('>=tablet') {
			width: 33.33%;
		}
		@include media ('>=desktop') {
			width: 25%;
		}
		@include media ('>=widescreen') {
			width: 20%;
		}
		.v2 & {
			width: 25%;
		}
		.v6 & {
			width: 20%;
		}
		.v7 & {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.image-holder {
			display: block;
			img {
				width: 100%;
				height: auto;
				vertical-align: top;
			}
		}
		.video-holder {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 52px;
			right: 0;
			// display: none;
			opacity: 0;
			visibility: hidden;
			@include animate(opacity visibility);
			iframe {
				width: 100%;
				height: 100%;
				vertical-align: top;
			}
		}
		>a {
			display: block;
			// box-shadow: 0 0 15px 0 rgba($black, 0.5);
			box-shadow: 0 0 5px 0 rgba($black, 0.2);
			margin-bottom: 0;
			position: relative;
			@include animate(transform);
			.v3 & {
				&:before {
					display: none;
				}
			}
			.v2 & {
				position: relative;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0 0 5px 0 rgba($black, 0.2);
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					@include animate(background-color);
				}
				.name {
					position: absolute;
					top: 5px;
					left: 5px;
					@include font-size(18, 22);
					color: $white;
					text-shadow: 1px 1px 1px rgba($black, 0.4);
					.work {
						display: block;
						@include font-size(14, 18);
					}
				}
				.location {
					position: absolute;
					bottom: 8px;
					left: 5px;
					margin: 0;
					@include font-size(15, 19);
					font-weight: 600;
					color: $white;
					text-shadow: 1px 1px 1px rgba($black, 0.4);
				}
				.status {
					position: absolute;
					bottom: 8px;
					right: 5px;
					@include font-size(15, 19);
					font-weight: 600;
					color: $white;
					text-shadow: 1px 1px 1px rgba($black, 0.4);
					&.online {
						padding-left: 13px;
						&:before {
							content: '';
							position: absolute;
							top: 2px;
							left: 0;
							bottom: 0;
							margin: auto;
							width: 9px;
							height: 9px;
							background: #1ee43c;
							border-radius: 100px;
							// box-shadow: 0 0 0 1px rgba($black, 0.8);
						}
					}
				}
				// for v3
				.name, .location, .status {
					opacity: 0;
					@include animate(opacity);
				}
			}

			.v5 & {
				border-radius: 0;
			}

			.name {
				width: 50%;
				// position: absolute;
				// top: 5px;
				// left: 5px;
				display: block;
				@include font-size(14, 18);
				color: #333;
				letter-spacing: 0.5px;
				// text-shadow: 1px 1px 1px rgba($black, 0.4);
				.work {
					display: block;
					@include font-size(14, 18);
				}
			}
			.location {
				// position: absolute;
				// bottom: 8px;
				// left: 5px;
				display: block;
				margin: 0;
				@include font-size(15, 19);
				font-weight: 600;
				// color: $white;
				color: #333;
				// text-shadow: 1px 1px 1px rgba($black, 0.4);
			}
			.status {
				display: inline-block;
				vertical-align: top;
				position: relative;
				// position: absolute;
				// bottom: 8px;
				// right: 5px;
				@include font-size(15, 19);
				font-weight: 600;
				// color: $white;
				color: #333;
				// text-shadow: 1px 1px 1px rgba($black, 0.4);
				&.online {
					padding-left: 13px;
					&:before {
						content: '';
						position: absolute;
						top: 2px;
						left: 0;
						bottom: 0;
						margin: auto;
						width: 9px;
						height: 9px;
						background: #1ee43c;
						border-radius: 100px;
						// box-shadow: 0 0 0 1px rgba($black, 0.8);
					}
				}
			}

			&:hover {
				// margin-bottom: -24px;
				// transform: scale(1.15);
				cursor: pointer;
				.v2 & {
					transform: none;
					margin-bottom: 0;
					cursor: pointer;
					&:before {
						background: rgba($black, 0.4);
					}
					.name, .location, .status {
						opacity: 1;
					}
				}
				.info {
					.row {
						&.lower-row {
							// display: block;
							padding-top: 8px;
							opacity: 1;
							visibility: visible;
							height: 24px;
							// transform: scale(1);
							.v2 & {
								height: auto;
							}
						}
					}
				}
				.video-holder {
					// display: block;
					opacity: 1;
					visibility: visible;
				}
			}
			.info {
				display: block;
				// padding: 12px 9px 14px;
				// background: $blue;
				// color: $white;

				padding: 7px 9px;
				background: $white;
				display: flex;
				flex-wrap: wrap;

				// .name, .location, .status {
				// 	opacity: 1;
				// 	visibility: visible;
				// 	color: #333;
				// 	position: static;
				// 	display: block;
				// 	text-shadow: none;
				// }

				// .status {
				// 	position: relative;
				// 	top: auto;
				// 	left: auto;
				// 	right: auto;
				// 	bottom: auto;
				// 	display: inline-block;
				// 	vertical-align: top;
				// }

				// .name {
				// 	width: 50%;
				// }

				.right-col {
					width: 50%;
					text-align: right;
				}

				.v3 & {
					padding: 7px 9px;
					background: $white;
					display: flex;
					flex-wrap: wrap;

					.name, .location, .status {
						opacity: 1;
						visibility: visible;
						color: #333;
						position: static;
						display: block;
						text-shadow: none;
					}

					.status {
						position: relative;
						top: auto;
						left: auto;
						right: auto;
						bottom: auto;
						display: inline-block;
						vertical-align: top;
					}

					.name {
						width: 50%;
					}

					.right-col {
						width: 50%;
						text-align: right;
					}

				}
				// .name {
				// 	width: 50%;
				// 	@include font-size(14, 18);
				// 	font-weight: bold;
				// 	letter-spacing: 0.5px;
				// }
				.chat-option {
					display: block;
					@include font-size(12, 16);
					position: relative;
					&:before {
						content: '';
						// position: absolute;
						display: inline-block;
						vertical-align: middle;
						width: 8px;
						height: 8px;
						margin-right: 4px;
						margin-bottom: 2px;
						background: #a2db00;
						border-radius: 100%;
						box-shadow: 0 0 0 1px darken($blue, 10%);
					}
				}
				.row {
					&.lower-row {
						// padding-top: 8px;
						// display: none;
						opacity: 0;
						visibility: hidden;
						height: 0;
						// transform: scale(0);
						@include animate(opacity visibility transform);
						.v2 & {
							opacity: 1;
							visibility: visible;
							height: auto;
							padding-top: 8px;
						}
					}
				}
				.rating {
					display: flex;
					justify-content: flex-end;
				}
				.star {
					display: block;
					width: 15px;
					height: 15px;
					color: $yellow;
					margin-left: 2px;
					svg {
						display: block;
						width: 100%;
						height: 15px;
						stroke: currentColor;
						fill: currentColor;
					}
				}
				.language {
					@include font-size(12, 16);
					display: flex;
					align-items: center;
					.flag {
						width: 16px;
						height: 11px;
						background: url(~assets/images/flag_sprite.png) -9999px 0 no-repeat;
						text-indent: -9999px;
						overflow: hidden;
						display: inline-block;
						vertical-align: top;
						margin-left: 5px;
						&.lng-en {
							background-position: -42px -162px;
						}
					}
				}
			}
		}
	}
}

.model-table {
	.table-striped tbody tr:nth-of-type(odd) {
		background-color: rgba(0,0,0,0.02);
		@include media ('<=tablet') {
			background: none
		}
	}

	.table {
		width: 100%;
    max-width: 100%;
		margin-bottom: 1rem;
		
		th {
			font-weight: 600;
			padding: .75rem;
			vertical-align: top;
			border-top: 1px solid #dbdbdb;
		}

		thead {

			@include media ('<=tablet') {
				display: none !important;
			}

			th {
				vertical-align: bottom;
				border-bottom: 2px solid #dbdbdb;
			}

			td {
				padding: .75rem;
				vertical-align: top;
				border-top: 1px solid #dbdbdb;
			}

			.col1 {
				width: 22%;
				@include media ('>=widescreen') {
					width: 18%;
				}
			}
			.col2 {
				width: 35%;
				@include media ('>=widescreen') {
					width: 45%;
				}
			}
			.col3 {
				width: 43%;
				@include media ('>=widescreen') {
					width: 37%;
				}
			}
		}

		td {
			vertical-align: middle;
			padding: .75rem;
			border-top: 1px solid #dbdbdb;

			@include media ('<=tablet') {
				display: block !important;
				border: none;
			}
		}

		td:last-child {
			border-bottom: 1px solid #dbdbdb;
			padding-bottom: 27px;
		}

		tr {
			@include media ('<=tablet') {
				display: block !important;
				margin-bottom: 15px;
			}			
		}

		.model-info {
			font-size: 16px;
			line-height: 1.375;
			
			@include media ('>=desktop') {
				padding: 12px 15px;
			}
		}
	}
	.avatar-holder {
    display: flex;
    align-items: center;
		margin-bottom: 5px;

		@include media ('<=tablet') {
			justify-content: center;
		}
		
		.avatar {
			width: 86px;
			height: 86px;
			border-radius: 100px;
			overflow: hidden;
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			margin-right: 10px;
		}

		.name {
			font-size: 16px;
			line-height: 1.25;
			font-weight: 600;
			color: #57595b;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: top;
	}

	.image-list {
		display: flex;
		margin: 0 -5px;
    padding: 0;
    list-style: none;
		
		li {
			width: 33.33%;
			padding: 5px;
		}
	}

	.image {
		width: 100%;
    height: 31.25vw;
    position: relative;
    overflow: hidden;
		border-radius: 10px;
		
		@include media ('>=phone') {
			height: 175px;
		}

		@include media ('>=tablet') {
			width: 100%;
    	height: 120px;
		}

		@include media ('>=desktop') {
			height: 155px;
		}
		
		.bg-stretch {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}